h1 This is Code2012 Survey API
=link_to 'http://codejapan.jp/'

h2 API
li GET  /surveys(.:format)     surveys#index
li POST /surveys(.:format)     surveys#create

h2 Params
li survey[why]:test survey
li survey[how_year]:5
li survey[locale]:yokohama
li survey[languages]:ruby
li survey[free_comment]:
li survey[app_name]:native

h2 Usage
li curl http://code-survey.herokuapp.com/surveys.json
li curl -F 'survey[why]=from curl' http://code-survey.herokuapp.com/surveys.json
